body {
    
    margin: 0;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    
}
.top {
    background-color:#E4F9F5;
    position: relative;
    padding-top: 100px;
}

h1 {
    margin: 70px auto 0;
    font-family: 'Great Vibes', cursive;
    font-size: 6rem;
    font-style:oblique;
    color: #66BFBF;
    line-height: 2;
}
h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3 {
    color: #11999E;
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    
}
.bottom-container{
    color: #11999E;
}
.skill-row {
    margin: 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.skill-pic1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-pic2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
